@charset "utf-8";

* { 
   -webkit-user-select: none; 
   -webkit-tap-highlight-color: rgba(0,0,0,0);    
}

.toolbar {
   background-color: rgb(22, 49, 79);
   border-radius: 15px;
   border: 2px solid white;
   position: absolute;
   bottom: 20px;
   left: 100px;
   text-align: center;
   padding: 5px;
   width: 450px;
   z-index: 2;
}


button {
   outline: none;
   border: none;
   width: 30px;
   height: 30px;
   border-radius: 2px;
   margin-left: 5px;
   margin-right: 5px;
   display: inline-block;
}


#restart-button {
   margin-left: 5px;
   margin-right: 70px;
   background: url("../images/restart.png") 0 0 no-repeat;
}
#restart-button:active { background-position: 3px 3px; }

#stepback-button { background: url("../images/stepback.png") 0 0 no-repeat; }
#stepback-button:active { background-position: 3px 3px; }

#rewind-button { background: url("../images/rewind.png") 0 0 no-repeat; }
#rewind-button:active { background-position: 3px 3px; }

#play-button { background: url("../images/play.png") 0 0 no-repeat; }
#play-button:active { background-position: 3px 3px; }

#fastforward-button { background: url("../images/fastforward.png") 0 0 no-repeat; }
#fastforward-button:active { background-position: 3px 3px; }


#stepforward-button { background: url("../images/stepforward.png") 0 0 no-repeat; }
#stepforward-button:active { background-position: 3px 3px; }

#fullscreen-button {
   margin-left: 70px;
   margin-right: 5px;
   margin-top: 5px;
   background: url("../images/fullscreen.png") 0 0 no-repeat;
}
#fullscreen-button:active { background-position: 3px 3px; }

#tick-count {
   color: white;
   font-size: 12px;
   font-family: sans-serif;
   font-weight: 300;
   text-align: left;
   position: absolute;
   bottom: 8px;
   right: 15px;
}
