@charset "utf-8";

* { -webkit-user-select: none; }

body {
   margin: 0;
   padding: 0;
   color: #ccc;
   font: 15px "Helvetica Neue", Helvetica, Arial, sans-serif;
   font-weight: 300;
   line-height: 1.625;
   overflow: hidden;
   background-color: #445368;
}

#patches {
   background-image: url('images/img3.jpg');
   position: absolute;
   left: 50px;
   top: 50px;
   z-index: 0;
}

#turtles {
   position: absolute;
   left: 50px;
   top: 50px;
   z-index: 1;
   border: 1px solid black;
}

#events {
   position: absolute;
   z-index: 3;
   left: 0px;
   top: 0px;
}

#toolbar {
   z-index: 2;
   background-color: rgb(22, 49, 79);
   -moz-border-radius: 15px;
   border-radius: 15px;
   border: 2px solid white;
   position: absolute;
   top: 640px;
   left: 230px;
}
