@charset "utf-8";

* { 
   -webkit-user-select: none; 
   -webkit-tap-highlight-color: rgba(0,0,0,0);    
}

body {
   margin: 0;
   padding: 0;
   color: #ccc;
   font: 15px "Helvetica Neue", Helvetica, Arial, sans-serif;
   font-weight: 300;
   line-height: 1.625;
   overflow: hidden;
   background-color: #445368;
}

#background {
  left:0px;
  top:0px;
  width:1265px;
  height:600px;
  z-index: -1;
}

#drift-pond-patches {
   background-image: url('../images/water.png');
   background-size: cover;
   position: absolute;
   left: 10px;
   top: 10px;
   z-index: 0;
}

#drift-pond-pads {
   position: absolute;
   left: 10px;
   top: 10px;
   z-index: 1;
}

#drift-pond-turtles {
   position: absolute;
   left: 10px;
   top: 10px;
   z-index: 3;
}

/*sheen not currently used -- need a better approach */
#drift-pond-sheen {
   position: absolute;
   left: 10px;
   top: 10px;
   height: 596px;
   width: 596px;
   z-index: 2;
   opacity:0.5;
  filter:alpha(opacity=50); /* For IE8 and earlier */
}

#sheenimage {
  opacity:0.5;
  filter:alpha(opacity=50); /* For IE8 and earlier */
  }

#drift-pond-plot {
   position: absolute;
   left: 620px;
   top: 10px;
   width: 300px;
   height: 300px;
   border: 1px solid black;
   background-color: rgba(255, 255, 255, 0.8);
   z-index: 4;
}

#drift-pond-scores {
   position: absolute;
   left: 620px;
   top: 325px;
   width: 600px;
   height: 220px;
   border: 2px solid #94A3B8;
   background-color: black;
   } 

.score {
  position:absolute;
   color: #000;
   width: 200px;
   text-align: center;
   font: 22px "Helvetica Neue", Helvetica, Arial, sans-serif;
   font-weight: normal;
   color:#546378;
   background-color: black;
 }
 
 .left {
    left:0px;
  }

 .middle {
    left:200px;
  }

 .right {
    left:400px;
  }
  
  .row1 {
    font-weight: bold;  
    top:8px;
  }
   .row2 {
     font-weight: bold;   
    top:35px;
  }
   .row3 {
        font-weight: bold;
    top:78px;
  }
   .row4 {
     font-weight: bold;   
    top:105px;
  }
  .row5 {
    font-weight: bold;   
    top:90px;
  }
   .row6 {
     font-weight: bold;    
    top:118px;
  }
   .row7 {
     font-weight: bold;    
    top:155px;
  }
   .row8 {
     font-weight: bold;   
    top:183px;
  }
   

 
 


  
  #presume {
    position: absolute;  
    left: 620px;
   top: 560px;
   width: 600px;
   height: 50px;
   border: 2px solid black;
   border-radius: 10px;
   font: 14pt sans-serif;
   text-align: center;
   color:black;
   background-color: #CCCC78;
    }  


#restart_button {
    position: absolute;  
    left: 620px;
   top: 560px;
   width: 600px;
   height: 50px;
   border: 2px solid black;
   border-radius: 10px;
   font: 14pt sans-serif;
   text-align: center;
   color:black;
   background-color: #7B68EE;
    }  


.leafstack {
  background-image: url('../images/lilypad2.png');
  position: absolute;
  cursor: move;
  height: 100px;
  width: 121px;
   z-index: 6;
}

.leafmoving {
  background-image: url('../images/lilypad2.png');
  position: absolute;
   cursor: move;
  height: 100px;
  width: 121px;
   z-index: 5;
}


#status {
   position: absolute;
   left: 10px;
   top: 10px;
   height: 540px;
   width: 540px;
   border: 1px solid black;
   border-radius: 40px;
   background-color: rgba(255, 255, 255, 0.8);
   color: black;
   font: 20pt sans-serif;
   text-align: center;
   padding: 30px;
   z-index:6;
   opacity: 0;
   visibility:hidden;
   transition: opacity .5s ease-in-out;
   -moz-transition: opacity .5s ease-in-out;
   -webkit-transition: opacity .5s ease-in-out;
}

#intro {
   position: absolute;
   left: 10px;
   top: 10px;
   height: 540px;
   width: 540px;
   border: 1px solid black;
   border-radius: 40px;
   background-color: rgba(240, 255, 240, 0.9);
   color: black;
   font: 20pt sans-serif;
   text-align: center;
   padding: 30px;
   z-index:6;
   opacity: 0;
   visibility:hidden;
   transition: opacity .5s ease-in-out;
   -moz-transition: opacity .5s ease-in-out;
   -webkit-transition: opacity .5s ease-in-out;
}

#title {
  font: 24pt sans-serif;
  font-weight: bold;
  }
  
  #action {
  font: 24pt sans-serif;
  color: blue;
  font-weight: bold;
  }